<aside>
	<ul class="nav nav-pills nav-stacked">
		<li><a href="/admin">Início</a></li>
		<li><a href="/admin/workchopp">Workchopp</a></li>
		<li><a href="/admin/usuarios">Usuários</a></li>
		<li><a href="/admin/associados">Associados</a></li>
		<li><a href="/admin/feedback">Feedback</a></li>
	</ul>
</aside>