 <?php
if (@$_SESSION['erro'] == true) {
    ?>

    <script>
     alert("Login ou senha incorreto!");
    </script>

    <?php

    unset($_SESSION['erro']);
}
?>
<div id="login-area" class="cntainer">

	<div class="col-md-4 col-md-offset-4">
		<img src="/assets/img/logo.png">
		<hr />
		<form method="POST">
			<div class="input-group">
				<span class="input-group-addon">E-mail :&nbsp;</span>
				<input name="email" type="email" class="form-control" placeholder="joao@ajems.com.br" required="true">
			</div>

			<div class="input-group">
				<span class="input-group-addon">Senha :&nbsp;</span>
				<input name="senha" type="password" class="form-control" placeholder="**********" required="true">
			</div>

			<hr />

			<input type="submit" name="entrar" class="btn btn-success btn-block" value="entrar">

		</form>	
	</div>

</div>