<header class="navbar navbar-inverse">
	<div class="container-fluid">
		<div class="col-md-3">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#"><b>Apollo - AJEMS</b></a>
			</div> <!-- NAVBAR-HEADER -->
		</div><!-- col-md-3 -->

		<div class="col-md-9">
			<ul class="nav navbar-nav navbar-right">
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">[[Nome do Usuário]] <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="#">FeedBack</a></li>
						<li><a href="#">Configurações</a></li>
						<li role="separator" class="divider"></li>
						<li><a href="/sair">Sair</a></li>
					</ul>
				</li>
			</ul><!-- navbar-right -->
		</div> <!-- col-md-9 -->
	</div><!-- container -->
</header>