<?php 

include_once 'header.phtml';

?>

<div class="container-fluid">

	<div class="col-md-2">

	<?php

	include_once 'aside.phtml';

	?>
		
	</div>
	<div class="col-md-10">


	<?php

	include_once 'main.phtml';

	?>
		
	</div>
	
</div>