<h3>Usuarios</h3>

<form method="post" action="/admin/usuarios/cadastrar">

	<input type="text" placeholder="nome" name="nome">
	<input type="text" placeholder="cpf" name="cpf">
	<input type="text" placeholder="email" name="email">
	<input type="text" placeholder="senha" name="senha">
        <input type="submit" placeholder="enviar" name="btn">
	
</form>



