<!DOCTYPE html>
<html>
<head>
    <title>Apollo - AJEMS</title>

    <!-- Bootstrap 3.3.6 -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/bootstrap-theme.min.css">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <!-- Fonts Google -->
    <link href="https://fonts.googleapis.com/css?family=Slabo+27px|Kreon:300|Raleway:300" rel="stylesheet">

    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <!-- App.js -->
    <script src="/assets/js/app.min.js"></script>

</head>
<body>

<?php
/*
    if (@$_SESSION['logado']) {
        include_once 'includes/template.phtml';
    } else {
        include_once 'includes/entrar.phtml';
    }
*/

?>

<script src="/assets/js/bootstrap.min.js"></script>
</body>
</html>