
    <header class="text-capitalize navbar-fixed-top" style="background-color: #333">
            <nav id="header" class="navbar navbar-default">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand menu-link" href="#top">Commerce</a>
                    </div>

                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a class="menu-link" href="#info">Produtos</a></li>
                            <li><a class="menu-link" href="#localizacao">Minha Area</a></li>
                            <li><a class="menu-link" href="#/mantenedores">Carrinho</a></li>
                            <li><a class="menu-link" href="#/mantenedores">Carrinho</a></li>
                            <li><a class="menu-link" href="#/mantenedores">Carrinho</a></li>
                            <li><a class="menu-link" href="#/mantenedores">Carrinho</a></li>
                            <li><a class="menu-link" href="#/mantenedores">Carrinho</a></li>
                            <li><a class="menu-link" href="#/mantenedores">Carrinho</a></li>
                            <li><a class="menu-link" href="#/mantenedores">Carrinho</a></li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container -->
            </nav>
        </header>
