<?php

//-----------------------------------------------------------------------------------------


$TITULO = "Commerce - Comercio Digital";
$DESCRICAO = "";
$IMAGEM = "/assets/img/logo.png";
$ICONE = "/assets/icons/icon.png";
$PALAVRAS_CHAVE = "loja, commerce, e-commerce";

$TWITTER_USERNAME = "";
$TWITTER_USERNAME_CREATOR = "@theguitarvity";


//-----------------------------------------------------------------------------------------

?>


<title><?= $TITULO ?></title>


<link rel="icon" href="<?= $ICONE ?>">

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<meta content="<?= $PALAVRAS_CHAVE ?>" name="keywords">

<meta name="description" content="<?= $DESCRICAO ?>" />

<!-- twitter -->
<meta name="twitter:site" content="<?= $TWITTER_USERNAME ?>">
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:description" content="<?= $DESCRICAO ?>" />
<meta name="twitter:title" content="<?= $TITULO ?>" />
<meta name="twitter:image" content="<?= $IMAGEM ?>" />
<meta name="twitter:creator" content="<?= $TWITTER_USERNAME_CREATOR ?>" />

<!-- facebook -->
<meta content="" property="fb:app_id">
<meta property="og:locale" content="pt_BR">
<meta property="og:url" content="http://www.ajems.com.br">
<meta property="og:title" content="<?= $TITULO ?>">
<meta property="og:site_name" content="AJE-MS">
<meta property="og:description" content="<?= $DESCRICAO ?>">

<meta property="og:image" content="<?= $IMAGEM ?>">
<meta property="og:image:type" content="image/jpeg">
<meta property="og:image:width" content="200">
<meta property="og:image:height" content="72">